@charset "UTF-8";

// Option A: Include all of Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// https://designshack.net/articles/trends/best-website-color-schemes/

// Then add additional custom code here
html,
body {
  color: #05f4b7;
  // color: #f4a005;
  transition: 0.5s;
}

.bgColor {
  height: 100vH;
  background-color: #12151f;
  padding-top: 50px;
}

.flyWindow {
  -webkit-box-shadow: none;
  box-shadow: none;
  min-width: 90vw;
  min-height: 90vh;
  border-radius: 15px;
  transition: all 250ms;
}

.secondBoom {
  -webkit-box-shadow: -10px 0px 13px -7px #f4a005, 10px 0px 13px -7px #f4a005, 5px 5px 15px 5px #f4a005;
  box-shadow: -10px 0px 13px -7px #f4a005, 10px 0px 13px -7px #f4a005, 5px 5px 15px 5px #f4a005;
}

#mjCountdown,
#mjCurrentDateTime {
  display: none;
  position: relative;
  justify-content: center;
  height: auto;
  text-align: center;
}

#mjCountdown div,
#mjCurrentDateTime div {
  position: relative;
  // top: 40%;
  top: 20px;
  text-align: center;
  color: #fff;
  font-size: 4.5em;
  font-family: 'Poppins', sans-serif;
}

#countSeconds,
#currentSecond {
  color: #ff0 !important;
}

#countDays:before,
#currentDay:before {
  content: ' Tage ';
}

#countHours:before,
#currentHours:before {
  content: ' Stunden ';
}

#countMinutes:before,
#currentMinute:before {
  content: ' Minuten ';
}

#countSeconds::before,
#currentSecond:before {
  content: ' Sekunden ';
  color: #ff0;
}

#mjCurrentDateTime {
  display: none;
}

#mjCountdown span,
#mjCurrentDateTime span {
  font-size: 4em;
}

#mjHappyNewYear {
  display: none;
  text-align: center;
}

#mjHappyNewYear p {
  font-size: 7em;
  color: #371bb1;
}

#mjHappyNewYear img {
  width: 40%;
  max-width: 40%;
}